*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body, html, header {
    padding: 0;
    margin: 0;
}

section{
    height: 100vh;
}

.sec1{
    background: url(./img/bleu.png);
    background-attachment: fixed;
}

.sec2{
    background: url(./img/jaune.png);
    background-attachment: fixed;
}

.sec3{
    background: url(./img/cyan.png);
    background-attachment: fixed;
}

.sec4{
    background: url(./img/vert.png);
    background-attachment: fixed;
}